%p#notice= notice

%p
  %b Name en:
  = @team.name_en
%p
  %b Name fa:
  = @team.name_fa
%p
  %b Education fa:
  = @team.education_fa
%p
  %b Education en:
  = @team.education_en
%p
  %b Email:
  = @team.email
%p
  %b Description fa:
  = @team.description_fa
%p
  %b Description en:
  = @team.description_en

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
