= form_for @slide do |f|
  - if @slide.errors.any?
    #error_explanation
      
      %ul
        - @slide.errors.each do |attr, msg|
          %li= msg

  .form-group
    = f.label "تصویر ", :class => "control-label" 
    = f.file_field :image
  .form-group
    = f.label "توضیحات با فارسی", :class => "control-label" 
    = f.text_area :description_fa, :class => "form-control", :style => "resize:none; height:100px"
  .form-group
    = f.label "توضیحات به انگلیسی", :class => "control-label" 
    = f.text_area :description_en, :class => "form-control", :style => "resize:none; height:100px"
  .form-group
    = f.submit 'ثبت', :class => "btn btn-default"
