= form_for @slide do |f|
  - if @slide.errors.any?
    #error_explanation
      %h2= "#{pluralize(@slide.errors.count, "error")} prohibited this slide from being saved:"
      %ul
        - @slide.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "تصویر "
    = f.file_field :image
  .field
    = f.label "توضیحات با فارسی"
    = f.text_area :description_fa
  .field
    = f.label "توضیحات به انگلیسی"
    = f.text_area :description_en
  .actions
    = f.submit 'ثبت'
