.page-title.go-center
  %h1= "اسلایدر"


%table
  %tr
    %th
    %th توضیحات عکس        
    %th
    %th

  - @slides.each do |slide|
    %tr      
      %td= image_tag slide.image(:small)
      %td= slide.description
      %td= link_to 'Show', slide
      %td= link_to (image_tag 'edit-icons.png'), edit_slide_path(slide)
      %td= link_to (image_tag 'delete-icons.png'), slide, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


= link_to new_slide_path do
  = image_tag "add-icons.png"
  = t('form.New')
