-if notice
  .alert.alert-dismissable.alert-success= notice
.careers.twoCols
  .right
    .sectionName= t('bolur-baran')
    %h1.pageName= t('slider')
  .clear
  %p= image_tag @slide.image(:slide)
  %p
    %b  توضیحات عکس
    = @slide.description


  = link_to 'ویرایش', edit_slide_path(@slide)
  \|
  = link_to t('back'), slides_path
