= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation      
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label t('user.email')
    = f.text_field :email
  .field
    = f.label t('user.name')
    = f.text_field :name, :value => "admin", :disabled => true
  .field
    = f.label t('user.password')
    = f.password_field :password
 
  .field
    = f.label t('user.password_confirmation')
    = f.password_field :password_confirmation
  .actions
    = f.submit t('form.save')
