= form_for @message ||= Message.new do |f|
  - if @message.errors.any?
    #error_explanation{:class => I18n.locale}                   
      %ul
        - @message.errors.each do |attr, msg|
          %li= msg
  %fieldset
    %legend{:class => I18n.locale}
      %span 
        = t("msg.contact-title")
      =image_tag "msg-icon.png"
      -if flash[:notice]
        .notice-msg{:class => I18n.locale}=t("notice-msg") 
      .clrear-float 
  .form-group
    = f.label t("msg.contact-name"), :class => "control-label"     
    %span.Necessary= t("Required")
    = f.text_field :name, :class => "form-control"
    
    
  .form-group
    = f.label t("msg.contact-email"), :class => "control-label" 
    %span.Necessary= t("Required")
    = f.text_field :email, :class => "form-control"
    
    
  .form-group
    = f.label t("msg.contact-phone"), :class => "control-label" 
    = f.text_field :phone, :class => "form-control"
    
  .form-group
    = f.label t("msg.contact-msg") , :class => "control-label"        
    %span.Necessary= t("Required") 
    = f.text_area :message, :class => "form-control", :style => "resize:none; height:100px"
         
  .form-group
    = f.submit t("msg.contact-btn"), :class => "btn btn-default"
