= form_for @message ||= Message.new , :class => "bs-example form-horizontal" do |f|
  - if @message.errors.any?
    #error_explanation{:class => I18n.locale}                   
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend{:class => I18n.locale}
      %span 
        = t("msg.contact-title")
      =image_tag "msg-icon.png"
      -if flash[:notice]
        .notice-msg{:class => I18n.locale}=t("notice-msg") 
      .clrear-float 
  .form-group{:class => I18n.locale, :id => I18n.locale}
    = f.label t("msg.contact-name")    
    = f.text_field :name, :class => "form-control"
    %span.Necessary= t("Required")
    
  .form-group{:class => I18n.locale, :id => I18n.locale}
    = f.label t("msg.contact-email")
    = f.text_field :email, :class => "form-control"
    %span.Necessary= t("Required")
    
  .form-group{:class => I18n.locale, :id => I18n.locale}
    = f.label t("msg.contact-phone")
    = f.text_field :phone, :class => "form-control"
    
  .form-group{:class => I18n.locale, :id => I18n.locale}
    = f.label t("msg.contact-msg")        
    = f.text_area :message, :class => "form-control"
    %span.Necessary= t("Required")      
  .form-group
    = f.submit t("msg.contact-btn"), :class=>"btn btn-primary"
