.menubar  
  .submenu 
    .item.go-center
      %ul.go-center                
        =link_to root_path do
          %li{:class => ('active' if params[:action]== 'home')}
            .item-pointer
              =image_tag 'arrow-down.png', :class => "go-center"
            %span= "صفحه اصلی"
        =link_to '#' do
          %li
            .item-pointer
              =image_tag 'arrow-down.png', :class => "go-center"
            %span= "پروژه  ها"
        =link_to '#' do
          %li
            .item-pointer
              =image_tag 'arrow-down.png', :class => "go-center"
            %span= "منابع"
        =link_to '#' do
          %li
            .item-pointer
              =image_tag 'arrow-down.png', :class => "go-center"
            %span= "درباره ما"
        =link_to '#' do
          %li
            .item-pointer
              =image_tag 'arrow-down.png', :class => "go-center"
            %span= "تماس با ما"
  .logo
    = image_tag 'logo.png'

  .clear-float  

