.menubar   
  .other-submenu 
    .item.go-center
      %ul.go-center
        =link_to home_path do
          %li{:class => ('active' if params[:action]== 'home')}            
            %span= t("home")
            
        =link_to ProjectCategory do
          %li            
            .dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                %span= t("projects")
                %b.caret            
              %ul.dropdown-menu{role: "menu"}
                -ProjectCategory.all.each do  |procat|
                  %li=link_to procat.title, procat
              
                
        =link_to resources_path, :class => ('active' if current_page?(resources_path)) do
          %li            
            %span= t("Resources")
        - Page.all.each do |page|
          =link_to page, :class => ('active' if current_page?(page_path(page))) do
            %li              
              %span= page.title

  .logo
    = image_tag 'other-logo.png'

  .clear-float  


