.innerCenter{:id => I18n.locale}
  %h1= t('page')

  %table
    %tr
      %th Title fa
      %th Title en
      %th Text fa
      %th Text en
      %th
      %th
      %th

    - @pages.each do |page|
      %tr
        %td= page.title_fa
        %td= page.title_en
        %td= page.text_fa
        %td= page.text_en
        %td= link_to 'Show', page
        %td= link_to (image_tag 'edit-icons.png'), edit_page_path(page)
        %td= link_to (image_tag 'delete-icons.png'), page, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
.footer
  .foot-links.go-center 
    -if is_admin?
      = link_to t('form.new'), new_page_path, :class => "btn"
