%p#notice= notice
.innerCenter{:id => I18n.locale}
  %h1= @page.title     
  .show-des-en{:class => I18n.locale, :id => I18n.locale}     
    =raw @page.text
  -if @page.read_attribute("title_en") == "Contact us"
    = render "shared/msg_form"
  -if @page.read_attribute("title_en") == "About us"
    = render "shared/our_team"
  
  = link_to content_tag("span", "ویرایش"), edit_page_path(@page)
  \|
  = link_to content_tag("span", "بازگشت"), home_path

  

