.homeSectors  
  = image_tag 'sectors.jpg'
.careers.twoCols
  .right
    .sectionName= t('bolur-baran')
    %h1.pageName= @page.title     
  .clear
  .show-des-en{:class => I18n.locale}     
    =raw @page.text
  -if @page.read_attribute("title_en") == "Contact us"
    .width50{:class => I18n.locale}
      = render "shared/msg_form"
  -if @page.read_attribute("title_en") == "About us"
    = render "shared/our_team"
  .clear
%br

