-if notice
  .alert.alert-dismissable.alert-success= notice
.page-title.go-center
  %h1= @page.title
  -if is_admin?  
    = link_to (image_tag 'edit-icons.png'), edit_page_path(@page)    
    = link_to t('back'), home_path

      
.middle-div.go-center 
  .show-des-en{:class => I18n.locale, :id => I18n.locale}     
    =raw @page.text
  -if @page.read_attribute("title_en") == "Contact us"
    %hr
    .col-lg-6
      .well
        = render "shared/msg_form"
  -if @page.read_attribute("title_en") == "About us"
    = render "shared/our_team"
  .clear-float
.footer
  .foot-links.go-center 
   

