-if notice
  .alert.alert-dismissable.alert-success= notice
.page-title.go-center
  %h1= t('projects')
.middle-div.go-center
  %p.title    
    = @project.title
  .tile-category
    %hr
    .arrow-bottom
  %p    
    =raw @project.description
  %p
    %b= t('form.employer')
    = @project.employer.title
  %p
    -if @project.pictures.first.present?
      =link_to (image_tag @project.pictures.first.image(:large)), @project.pictures.first.image(:large), :data => { :colorbox => true }, :title => @project.pictures.first.description      

    .show-pics.go-center
      - @project.pictures.offset(1).each do |pic|
        .project-pics
          =link_to (image_tag pic.image(:medium)), pic.image(:large), :data => { :colorbox => true }, :title => pic.description         
        .vertical-line
      .clear-float
    .clear-float
  -if is_admin?  
    = render "pictures/form", :project_id => @project.id
    
 
  .link-margin-top
    -if is_admin?
      = link_to t('form.edit'), edit_project_path(@project)
      \|
    = link_to t('back'), projects_path
