-if notice
  .alert.alert-dismissable.alert-success= notice
.projects
  .title
    %h1= t('project')  
.careers.twoCols
  .filters{:class => I18n.locale, :style => "width:91%" }   
    %div
      -if is_admin?
        = link_to t('form.edit'), edit_project_path(@project)
        \|
        = link_to t('back'), projects_path
        \|
        = link_to 'افزودن تصویر به پروژه', new_picture_path(project_id: @project.id)
      
    %h3    
      = @project.title
  .width50{:class => I18n.locale}     
    -if @project.pictures.first.present?
      =link_to (image_tag @project.pictures.first.image(:medium)), @project.pictures.first.image(:large), :data => { :colorbox => true }, :title => @project.pictures.first.description      
  .width40{:class => I18n.locale}
    %div
      %b= t('form.employer')
      = @project.employer.title     
    %div
      =raw @project.description
  .clear
  %hr
  %div
    .show-pics.go-center
      - @project.pictures.offset(1).each do |pic|
        .project-pictures
          =link_to  (image_tag pic.image(:medium)), pic.image(:original), :data => { :colorbox => true }, :title => pic.description, :class => "image"             
          .name= pic.description
          - if is_admin?
            = link_to 'ویرایش', edit_picture_path(pic, project_id: @project.id )
            \|
            = link_to 'حذف', pic, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

      .clear 
      %hr     

    
 
  
