-if notice
  .alert.alert-dismissable.alert-success= notice
.col-lg-12
  .page-header.go-center
    %h1= t('projects')
  %p
    %b= t('form.title')
    = @project.title
  %p
    %b= t('form.Description')
    =raw @project.description
  %p
    %b= t('form.employer')
    = @project.employer.title
  %p
    = image_tag @project.pictures.first.image(:large)
    %br
    = @project.pictures.first.description
    .show-pics
      - @project.pictures.offset(1).each do |pic|
        .project-pics
          = image_tag pic.image(:medium)
          %br
          = pic.description
    .clear-float
  -if is_admin?  
    = render "pictures/form", :project_id => @project.id
    
.footer
  .foot-links.go-center 
    .link-marg-top
      = link_to t('form.edit'), edit_project_path(@project)
      \|
      = link_to t('back'), projects_path
