%p#notice= notice
.innerCenter{:id => I18n.locale}
  %h1= t('projects')  
  %p
    %b= t('form.title')
    = @project.title
  %p
    %b= t('form.Description')
    =raw @project.description
  %p
    %b= t('form.employer')
    = @project.employer.title
  - @project.pictures.each do |pic|
    = image_tag pic.image(:small)
    
  = render "pictures/form", :project_id => @project.id
    
  
  = link_to t('form.edit'), edit_project_path(@project)
  \|
  = link_to t('back'), projects_path
