%p#notice= notice

%p
  %b Title:
  = @project.title
%p
  %b Description:
  = @project.description
%p
  %b Employer:
  = @project.employer_id
- @project.pictures.each do |pic|
  = image_tag pic.image(:small)
= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'بازگشت', projects_path
