= form_for @project_category do |f|
  - if @project_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project_category.errors.count, "error")} prohibited this project_category from being saved:"
      %ul
        - @project_category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "عنوان گروه به انگلیسی"
    = f.text_field :title
  .field
    = f.label "عنوان گروه به فارسی"  
    = f.text_field :title_fa
  .field
    = f.label ":توضیحات به انگلیسی"
    = f.text_area :description  
  .field
    = f.label ":توضیحات به فارسی"
    = f.text_area :description_fa
  .field
    = f.file_field :sample_pic
  .actions
    = f.submit 'ثبت'
