= form_for @project_category do |f|
  - if @project_category.errors.any?
    #error_explanation
      
      %ul
        - @project_category.errors.each do |attr, msg|
          %li= msg

  .form-group
    = f.label "عنوان گروه به انگلیسی", :class => "control-label" 
    = f.text_field :title, :class => "form-control"
  .form-group
    = f.label "عنوان گروه به فارسی" , :class => "control-label"  
    = f.text_field :title_fa, :class => "form-control"
  .form-group
    = f.label ":توضیحات به انگلیسی", :class => "control-label" 
    = f.text_area :description , :class => "form-control", :style => "resize:none; height:100px"
  .form-group
    = f.label ":توضیحات به فارسی", :class => "control-label" 
    = f.text_area :description_fa, :class => "form-control", :style => "resize:none; height:100px"
  .form-group
    = f.label "عکس نمونه", :class => "control-label" 
    = f.file_field :sample_pic
  .form-group
    = f.submit 'ثبت', :class => "btn btn-default"
