.homeSectors
  = image_tag 'sectors.jpg'
.careers.twoCols
  .right
    .sectionName= t('bolur-baran')
    %h1.pageName= t('services')
  .clear
  -if is_admin?
    = link_to new_project_path, :class => "new-project" do
      = image_tag "add-icons.png"
      = t('form.New')
  .intro
    - @project_categories.each do |project_category|    
      .title
        %h2= project_category.title
      %div{:class => I18n.locale }        
        .width40= image_tag project_category.sample_pic(:medium)
        .width40= project_category.description
      .clear
        

