.innerCenter{:id => I18n.locale}
  %h1= t('projects')
  .show-projects
    .row.go-center      
      .column= t('form.category')
      .column= t('form.Description')
    .clear-float
    - @project_categories.each do |project_category|
      .row.go-center
        .column= link_to project_category.title, project_category
        .column= project_category.description          
        .column= link_to  (image_tag 'edit-icons.png'),  edit_project_category_path(project_category)            
        .column= link_to (image_tag 'delete-icons.png'), project_category, :method => :delete, :data => { :confirm => 'آیا می خواهید این آیتم حذف شود؟' }
    .clear-float
  %br

  = link_to t('form.New'), new_project_category_path, :class => "btn"
