%p#notice= notice

%p
  %b Title:
  = @project_category.title
%p
  %b Description:
  = @project_category.description
%p= image_tag @project_category.sample_pic(:medium), :class => "img-thumbnail"
.footer
  .foot-links.go-center 
    -if is_admin?
      = link_to t('edit'), edit_project_category_path(@project_category)
      \|
      = link_to t('back'), project_categories_path
