= form_for @employer, :class => "bs-example" do |f|
  - if @employer.errors.any?
    #error_explanation
      %ul
        - @employer.errors.each do |attr, msg|
          %li= msg

  .form-group
    = f.label "عنوان به فارسی:", :class => "control-label" 
    = f.text_field :title_fa, :class => "form-control"
  .form-group
    = f.label "عنوان به انگلیسی", :class => "control-label" 
    = f.text_field :title_en, :class => "form-control"
  .form-group
    = f.label "وب سایت:", :class => "control-label" 
    = f.text_field :web_site, :class => "form-control"
  .form-group    
    = f.label "لوگو:", :class => "control-label" 
    %br
    - if @employer.logo.present?
      = image_tag @employer.logo(:thumb)
   
    = f.file_field :logo
  .form-group 
    = f.submit t('form.save'), :class => "btn btn-default"
