= form_for @employer do |f|
  - if @employer.errors.any?
    #error_explanation
      
      %ul
        - @employer.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "عنوان به فارسی:"
    = f.text_field :title_fa
  .form-group
    = f.label "عنوان به انگلیسی"
    = f.text_field :title_en
  .form-group
    = f.label "وب سایت:"
    = f.text_field :web_site
  .form-group
    = f.label "لوگو:"
    = f.file_field :logo
  .actions
    = f.submit t('form.save'), :class => "btn btn-info"
