= form_for @employer do |f|
  - if @employer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employer.errors.count, "error")} prohibited this employer from being saved:"
      %ul
        - @employer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "عنوان به فارسی:"
    = f.text_field :title_fa
  .field
    = f.label "عنوان به انگلیسی"
    = f.text_field :title_en
  .field
    = f.label "وب سایت:"
    = f.text_field :web_site
  .field
    = f.label "لوگو:"
    = f.file_field :logo
  .actions
    = f.submit t('form.save')
