= form_for @employer, :class => "bs-example" do |f|
  - if @employer.errors.any?
    #error_explanation
      %ul
        - @employer.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "عنوان به فارسی:"
    = f.text_field :title_fa, :class => "form-control"
  .form-group
    = f.label "عنوان به انگلیسی"
    = f.text_field :title_en, :class => "form-control"
  .form-group
    = f.label "وب سایت:"
    = f.text_field :web_site, :class => "form-control"
  .form-group    
    = f.label "لوگو:"
    %br
    - if @employer.logo.present?
      = image_tag @employer.logo(:thumb)
   
    = f.file_field :logo
  .actions
    = f.submit t('form.save'), :class => "btn btn-default"
