.homeSectors
  = image_tag 'sectors.jpg'
  
.careers.twoCols
  .right
    .sectionName= t('bolur-baran')
    %h1.pageName= t('employers')
  .clear
    
  -if is_admin?      
    = link_to new_employer_path, :class => "new-project" do
      = image_tag "add-icons.png"
      %h6= 'معرفی کارفرما جدید'

  .intro
    - @employers.each do |employer| 
      .list-teams.width30{:class => I18n.locale} 
        - if employer.logo.present?
          = image_tag employer.logo(:thumb), :class => "img-thumbnail"
        %p
          .column{:class => I18n.locale}= t('form.title')
          .column= link_to employer.title, employer
          .column{:class => I18n.locale}= t('form.web')                  
          .column= link_to employer.web_site, "http://#{employer.web_site}", :target => "blank"
          .clear
        - if is_admin?
          .trow
            = link_to  'ویرایش',  edit_employer_path(employer)    
            \|            
            = link_to 'حذف', employer, :method => :delete, :data => { :confirm => 'آیا می خواهید این آیتم حذف شود؟' }
      
        
    .clear



    
  
