%h1 Listing employers

%table
  %tr
    %th Title
    %th Web site
    %th
    %th
    %th

  - @employers.each do |employer|
    %tr
      %td= employer.title
      %td= employer.web_site
      %td= link_to 'Show', employer
      %td= link_to 'Edit', edit_employer_path(employer)
      %td= link_to 'Destroy', employer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Employer', new_employer_path
