.homeSectors
  = image_tag 'sectors.jpg'
- if notice    
  .alert.alert-success= notice 
.careers.twoCols
  .right
    .sectionName= t('bolur-baran')
    %h1.pageName= t('employers')
  .clear

  -if is_admin? 
    = link_to 'ویرایش', edit_employer_path(@employer)
    \|
    = link_to t('back'), employers_path
  .intro
    .show-employers{:class => I18n.locale}         
    
      %p
        .column{:class => I18n.locale}= t('form.title')
        .column= @employer.title
        .column{:class => I18n.locale}= t('form.web')                  
        .column= link_to  @employer.web_site, "http://#{@employer.web_site}", :target => "blank"
        .clear
      - if @employer.logo.present?
        = image_tag @employer.logo(:medium), :class => "img-thumbnail"
    .clear

%br

