.homeSectors
  = image_tag 'sectors.jpg'
  
.careers.twoCols
  .right
    .sectionName= t('bolur-baran')
    %h1.pageName= t('resources')
  .clear

  -if is_admin?
    = link_to new_resource_path, :class => "new-project" do
      = image_tag "add-icons.png"
      = t('form.New')
  .intro
    - @resources.each do |resource|
      .show-resource{:class => I18n.locale} 
        .right
          = image_tag resource.image(:small)        
        .left
          %br
          = resource.title
          %br
          = link_to resource.link, url_with_protocol(resource.link), :target => "blank" 
        .links
          -if is_admin?
            .column.icon= link_to  'ویرایش',  edit_resource_path(resource)                     
            .column.icon= link_to 'حذف', resource, :method => :delete, :data => { :confirm => 'آیا می خواهید این آیتم حذف شود؟' }
      %hr
        

