.homeSectors
  = image_tag 'sectors.jpg'
  
.careers.twoCols
  .right
    .sectionName= t('bolur-baran')
    %h1.pageName= t('resources')
  .clear

  -if is_admin?
    = link_to new_resource_path, :class => "new-project" do
      = image_tag "add-icons.png"
      %h6= 'افزودن به منابع علمی'
  .intro
    - @resources.each do |resource|
      .list-teams.width40{:class => I18n.locale}         
        - if resource.image.present?
          = image_tag resource.image(:small)        
        
        =link_to resource.title,  resource     
        = link_to resource.link, url_with_protocol(resource.link), :target => "blank" 
        .links
          -if is_admin?
            = link_to  'ویرایش',  edit_resource_path(resource)  
            \|                   
            = link_to 'حذف', resource, :method => :delete, :data => { :confirm => 'آیا می خواهید این آیتم حذف شود؟' }
    .clear
        

