.page-title.go-center
  %h1= t('resources')
  -if is_admin?
    = link_to new_resource_path, :class => "new-project" do
      = image_tag "add-icons.png"
      = t('form.New')
.clear-float
.middle-div.go-center{:id => I18n.locale, :class => I18n.locale}     
  .resources-list
    - @resources.each do |resource|
      .show-resource{:class => I18n.locale} 
        .pro-pic
          = image_tag resource.image(:small)        
        %br
        = resource.title
        %br
        = link_to resource.link, "http://#{resource.link}", :target => "blank" 
        .links
          -if is_admin?
            .column.icon= link_to  (image_tag 'edit-icons.png'),  edit_resource_path(resource)                     
            .column.icon= link_to (image_tag 'delete-icons.png'), resource, :method => :delete, :data => { :confirm => 'آیا می خواهید این آیتم حذف شود؟' }
      
        
    .clear-float
%br
.footer
  .foot-links.go-center 
    
