.homeSectors
  = image_tag 'sectors.jpg'
- if notice    
  .alert.alert-success= notice   
.careers.twoCols
  .right
    .sectionName= t('bolur-baran')
    %h1.pageName= t('resources')
  .clear

  -if is_admin? 
    = link_to 'ویرایش', edit_resource_path(@resource)
    \|
    = link_to 'بازگشت', resources_path
  .intro
    .show-employers{:class => I18n.locale}      
      
      %p
        .column= t('form.title')
        .column= @resource.title
        .column= t('form.web')                  
        .column= link_to  @resource.link, "http://#{@resource.link}", :target => "blank"
        .column= t('form.Description')
        .column= raw @resource.text_html
        
      - if @resource.image.present?
        = image_tag @resource.image.url(:medium), :class => "img-thumbnail"
.clear
%hr


    
