= form_for @picture=Picture.new do |f|
  - if @picture.errors.any?
    #error_explanation      
      %ul
        - @picture.errors.full_messages.each do |msg|
          %li= msg

  
  .field    
    = f.file_field :image
  .field.right
    = f.label "توضیحات عکس به انگلیسی"
    = f.text_area :description
  .field
    = f.label "توضیحات عکس به فارسی"
    = f.text_area :description_fa
  .field
    = f.hidden_field :project_id, :value => project_id
  .actions
    = f.submit 'ثبت'
  .clear-float
