.fa  
  = image_tag 'sectors.jpg'
.careers.twoCols
  .right
    .sectionName= t('bolur-baran')
    %h1.pageName= 'ویرایش' + " " + t('pictures')
    %h2= 'برای پروژه' + " " + @project.title
  .clear
  .fa{:style => "width:100%"}

    = render 'form'
  - if is_admin?
    = link_to 'مشاهده', @picture
    \|
    = link_to 'بازگشت', projects_path
