.careers.twoCols
  %p#notice= notice
  .right
    .sectionName= t('bolur-baran')
    %h1.pageName= t('pictures')
    
  .clear
  
  %p
    =image_tag @picture.image(:medium)
  %p
    %b توضیحات:
    = @picture.description
  
  - if is_admin?
    = link_to 'ویرایش', edit_picture_path(@picture)
    \|
    = link_to 'بازگشت', projects_path
