%p#notice= notice
%p
  =image_tag @picture.image(:medium)
%p
  %b Description:
  = @picture.description
%p
  %b project_id:
  = @picture.project_id

= link_to 'Edit', edit_picture_path(@picture)
\|
= link_to 'Back', pictures_path
